h1#dashboardTitle Dashboard
.row
  .col-xs-8.col-xs-offset-2
    form(name='dashboardForm', novalidate)
      table.table-striped.table
        thead
          tr
            th Decision
            th Date
            th Results
          tr
            td: a(ui-sref='decisions-show({decisionId:decisionId})') food
            td 2015-05-09
            td {{user.decision}}
          tr
            td: a(href='#') food
            td 2015-05-08
            td comfort food
